.game-container {
  background-color: grey;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .board-container {
    width: 600px;
    height: 600px;
    @media (max-width: 620px) {
      width: 350px;
      height: 350px;
    }
    background-color: white;
    display: flex;
    flex-wrap: wrap;
  }
}
